/* 공통 */
#main_body {
  width: 100vw;
  height: auto;
  min-height: 100vh;
  display: flex;
}

#note_body {
  width: 85vw;
  height: auto;
  min-height: 93vh;
  position: absolute;
  top: 7vh;
  right: 0;
  background-color: #ddd;
}

#note_body > section {
  width: 95%;
  margin: 30px auto 0 auto;
  background-color: white;
}

#note_body > section > .note_title {
  font-size: 20px;
  font-weight: bold;
  margin-bottom: 10px;
}

#note_body > section > ul {
  margin-left: 5vw;
}

/* =========================================== 캘린더용 =========================================== */

/* 캘린더 영역 전체 */
#calendar_content {
  width: 70vw;
  height: auto;
  margin: 0 auto;
}

/* 캘린더 Header (연도, 월, 일) */
#calendar_header {
  width: 100%;
  height: 7vh;
}
/* 캘린더 main (테이블을 감싸는 영역) */
#calendar_main {
}
/* 캘린더 table (실제 캘린더 표시 영역) */
#calendar_table {
  width: 100%;
  height: auto;
  background-color: white;
  border: 1px solid black;
  border-right: none;
}
#calendar_table > thead > tr {
  width: 100%;
  height: 3vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  background-color: #eeeeee;
}
#calendar_table > thead > tr > td,
#calendar_table > tbody > tr > td {
  display: flex;
  justify-content: center;
  align-items: center;
}
#calendar_table > thead > tr > td {
  border-right: 1px solid black;
}
#calendar_table > tbody > tr > td {
  border-right: 1px solid black;
}
#calendar_table > tbody > tr:not(.schedule) {
  width: 100%;
  height: 7vh;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  border-top: 1px solid black;
}
/*#calendar_table > tbody > tr > td.empty {
  background-color: gray;
}*/
/* 오늘 날짜 */
.today {
  background-color: #6c5ce7;
}
/* 토요일 */
.saturday {
  color: blue;
}
/* 일요일 */
.sunday {
  color: red;
}

/* 스케쥴 */
tr.schedule {
  width: 100%;
  height: 20px;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: 1fr;
  background-color: white;
}

#calendar_list {
  width: 70vw;
  height: auto;
  margin: 0 auto;
}
#calendar_list > .line {
  width: 100%;
  height: 3vh;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#calendar_list > .line > div {
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
#calendar_list > .line > .schedule_line_color {
  width: 2.5vw;
  border-right: 50%;
}
#calendar_list > .line > .schedule_line_color > div {
  width: 10px;
  height: 10px;
}
#calendar_list > .line > .schedule_line_name {
  width: 8vw;
}
#calendar_list > .line > .schedule_line_date {
  width: 25vw;
}
